/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}
input[type=password]:focus:not([readonly]),
input[type=username]:focus:not([readonly]) {
    border: 1px solid lightgray;
    box-shadow: 0 0 0 0.2rem lightgray;
}

